* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    font-family: 'Poppins', sans-serif;

}

header img {
    width: 20%;
    height: 10%;

}

header {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    top: 0;
    left: 0;
    padding: 30px 100px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;

}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    color: aliceblue;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
}

header ul li a:hover {
    color: rgb(154, 210, 154);
    font-size: 1.04rem;
   
}section img{
    width: 100%;
    mix-blend-mode:multiply;
    position: absolute;
    left: 0;
    height: 100%;
    object-fit: cover;

}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100ox;
}section img #moon{
    width: 20%;
    height: 20%;
}